apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: jvm-build-suite-component-lvnmlg
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: jvm-build-suite-component-lvnmlg
    app.kubernetes.io/part-of: jvm-build-suite-application-mciy
  name: jvm-build-suite-component-lvnmlg
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: hacbs-jvm-build-test-project
      app.kubernetes.io/instance: jvm-build-suite-component-lvnmlg
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: hacbs-jvm-build-test-project
        app.kubernetes.io/instance: jvm-build-suite-component-lvnmlg
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/jvm-build-jtrx-tenant/jvm-build-suite-application-mciy/jvm-build-suite-component-lvnmlg@sha256:4ceda5db5ab95ab890faf1e9a86c9d3e9e841c091b6a41ea2fd736356d02d83c
        name: hacbs-jvm-build-test-project
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 1Gi
status: {}
